* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-display: 'Syne', sans-serif;
    --font-body: 'DM Sans', sans-serif;
}

body {
    font-family: var(--font-body);
    background-color: #0a0a0f;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 10px;
}

.section1 {
    font-size: medium;
    color: #ffffff9b;
    letter-spacing: 3px;
    text-align: center;
    padding: 15px;
}

.section2 {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.0001px solid #ffffff3d;
    border-radius: 10px;
    height: 20vh;
    background: #0F0F18;
    background: linear-gradient(90deg, rgba(15, 15, 24, 1) 0%, rgb(6, 6, 82) 100%);
}

.section2>div {
    text-align: left;
}

.section2>div span:first-child {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.section2 div p {
    color: #ffffff9b;
    font-size: small;
}

.section2>span:last-child {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.section3 {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 3px solid #635bff;
    border-right: 3px solid #635bff;
    border-radius: 10px;
    height: 15vh;
    background: #0F0F18;
    background: linear-gradient(90deg, rgba(15, 15, 24, 1) 0%, rgb(6, 6, 82) 100%)
}

.section3>i {
    color: #9595fa;
    width: 393.18px;
    text-align: center;
    font-size: small;
}

.refresh {
    border: none;
    background-color: transparent;
    color: #9595fa;
    transition: color 0.3s ease;
    width: 99.53px;
}

.refresh:hover {
    color: white;
    cursor: pointer;
}

.section4 {

    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.wh {
    height: 100%;
    width: 50%;
    border: 0.0001px solid #ffffff3d;
    border-radius: 10px;
    padding: 30px;
    color: white;
}

.weather-section {
    background: linear-gradient(90deg, rgba(15, 15, 24, 1) 0%, rgb(6, 6, 82) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    gap: 10px;
}

.streak-section {
    background: linear-gradient(90deg, rgb(6, 6, 82) 0%, rgba(15, 15, 24, 1) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    gap: 10px;

}

.daily {
    font-size: medium;
    color: #ffffff9b;
    text-align: left;
    letter-spacing: 5px;
}

.streak-number {
    font-size: 50px;
    font-weight: bolder;
}

.update-streak-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
    flex-direction: row;
}

.increase,
.decrease,
.reset {
    font-size: small;
    text-align: center;
    color: #ffffff9b;
    border: 0.0001px solid #ffffff3d;
    padding: 15px 45px;
    background: rgba(0, 0, 0, 0.325);
    border-radius: 10px;
}

.increase:hover,
.decrease:hover,
.reset:hover {
    color: white;
    cursor: pointer;
    transform: translateY(-1px);
}

.slogan {
    color: #ffffff9b;
    font-size: small;
}

.weather-location {
    font-size: medium;
    color: #ffffff9b;
    text-align: left;
    letter-spacing: 5px;
}

.temperature {
    font-size: 50px;
    font-weight: bolder;
}

.current-state {
    color: #ffffff9b;
    font-size: small;
}

.humidity-Wind {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

.humidity,
.Wind {
    font-size: small;
    text-align: center;
    color: #ffffff9b;
    border: 0.0001px solid #ffffff3d;
    padding: 5px 19px;
    background: rgba(0, 0, 0, 0.325);
    border-radius: 10px;
}

.section5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sec5-1 {
    background: linear-gradient(90deg, rgba(15, 15, 24, 1) 0%, rgb(6, 6, 82) 100%);
    min-height: 100%;
    width: 33%;
    padding: 30px;
    border: 0.0001px solid #ffffff3d;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    gap: 15px;
}

.gamesplay {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.gamesplay button {
    padding: 15px 45px;
    background: transparent;
    color: #ffffff;
    border: 0.0001px solid #ffffff;
    border-radius: 10px;
}

.sec5-2 {
    background: linear-gradient(90deg, rgba(15, 15, 24, 1) 0%, rgb(6, 6, 82) 100%);
    width: 33%;
    height: 100%;
    padding: 30px;
    border: 0.0001px solid #ffffff3d;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    gap: 15px;
}

.taskaddtask {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.games {
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

.games-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 10px;
}
.game{
    padding: 20px;
    border: 0.0001px solid #ffffff3d;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgb(6, 6, 82);
}


.tasks {
    color: white;
    font-size: x-large;
    font-weight: bolder;

}

.taskaddtask button {
    padding: 15px 45px;
    background: transparent;
    color: #ffffff;
    border: 0.0001px solid #ffffff;
    border-radius: 10px;

}

.taskaddtask button:hover {
    transform: translateY(-2px);
    color: grey;
    cursor: pointer;
}

.task-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 10px;
}

.task {
    padding: 20px;
    border: 0.0001px solid #ffffff3d;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgb(6, 6, 82);
}

@media screen and (max-width: 1000px) {
    .section1 {
        font-size: small;
        padding: 15px;
    }

    body {
        padding: 0px 10px;
    }

    .section2>div span:first-child {
        font-size: large;
        line-height: 25px;
    }

    .section2 div p {
        font-size: xx-small;
    }

    .section2>span:last-child {
        font-size: large;

    }

    .section3 {
        padding: 10px;
        flex-direction: column;
        height: 10vh;
    }

    .section3 i {
        font-size: xx-small;
        width: 100%;
        overflow: scroll;
    }

    .refresh {
        font-size: xx-small;
    }

    .section4 {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .weather-section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .streak-section {
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .increase,
    .decrease,
    .reset {
        font-size: x-small;
        padding: 10px 20px;

    }

    .section2>div span:first-child {
        font-size: large;
    }

    .weather-location,
    .daily {
        font-size: x-small;
    }


}